.small-segmented-control-container .segmented-control > label {
  line-height: 1.6rem;
}

@media (min-width: 410px) {
  .small-segmented-control-container .segmented-control {
    height: 1.9rem !important;
  }

  .small-segmented-control-container .segmented-control > label {
    line-height: 1.9rem;
  }
}

.segmented-control > label:after {
  color: rgb(250, 250, 250) !important;
}

.segmented-control > label:after,
.segmented-control > label {
  white-space: pre !important;
}
